Repository UiPath/Community.Activities, pull requests merged in 2021-06, with the labels that each got.

#137 OSAC48 - SecureString connection strings for Database activities
  Activities/Database/UiPath.Database.Activities.Design/DesignerMetadata.cs
  Activities/Database/UiPath.Database.Activities.Design/Properties/UiPath.Database.Activities.Design.Designer.cs
  Activities/Database/UiPath.Database.Activities.Design/Properties/UiPath.Database.Activities.Design.resx
  Activities/Database/UiPath.Database.Activities/BulkInsert.cs
  Activities/Database/UiPath.Database.Activities/BulkUpdate.cs
  Activities/Database/UiPath.Database.Activities/DatabaseConnect.cs
  Activities/Database/UiPath.Database.Activities/DatabaseTransaction.cs
  Activities/Database/UiPath.Database.Activities/ExecuteNonQuery.cs
  Activities/Database/UiPath.Database.Activities/ExecuteQuery.cs
  Activities/Database/UiPath.Database.Activities/InsertDataTable.cs
  Activities/Database/UiPath.Database.Activities/Properties/UiPath.Database.Activities.Designer.cs
  Activities/Database/UiPath.Database.Activities/Properties/UiPath.Database.Activities.resx
Labels: C:Database

#139 All: remove workflow dependencies for net5 packages
  Activities/Activities.Credentials.sln
  Activities/Activities.Database.sln
  Activities/Activities.FTP.sln
  Activities/Activities.Python.sln
  Activities/Credentials/UiPath.Credentials.Packages/UiPath.Credentials.Packages.csproj
  Activities/Cryptography/UiPath.Cryptography.Activities.Packaging/UiPath.Cryptography.Activities.Packaging.csproj
  Activities/Database/UiPath.Database.Activities.Packaging/UiPath.Database.Activities.Packaging.csproj
  Activities/Directory.build.targets
  Activities/FTP/UiPath.FTP.Activities.Packaging/UiPath.FTP.Activities.Packaging.csproj
  Activities/Java/UiPath.Java.Activities.Packaging/UiPath.Java.Activities.Packaging.csproj
  Activities/Python/UiPath.Python.Packaging/UiPath.Python.Packaging.csproj
Labels: C:Credentials, C:Cryptography, C:Database, C:FTP, C:Java, C:Python

#142 OSAC 164 - [Cryptography] Insecure unauthenticated encryption in Encrypt Text
  Activities/Cryptography/UiPath.Cryptography.Activities.Packaging/UiPath.Cryptography.Activities.Packaging.csproj
  Activities/Cryptography/UiPath.Cryptography.Activities.Tests/CryptographyHelper.cs
  Activities/Cryptography/UiPath.Cryptography.Activities.Tests/CryptographyTests.cs
  Activities/Cryptography/UiPath.Cryptography.Activities.Tests/UiPath.Cryptography.Activities.Tests.csproj
  Activities/Cryptography/UiPath.Cryptography/CryptographyHelper.cs
  Activities/Cryptography/UiPath.Cryptography/Properties/UiPath.Cryptography.Designer.cs
  Activities/Cryptography/UiPath.Cryptography/Properties/UiPath.Cryptography.resx
  Activities/Cryptography/UiPath.Cryptography/SymmetricAlgorithms.cs
  Activities/Cryptography/UiPath.Cryptography/UiPath.Cryptography.csproj
Labels: C:Cryptography

#143 OSAC 164 - fixed descriptions and default value
  Activities/Cryptography/UiPath.Cryptography.Activities/DecryptFile.cs
  Activities/Cryptography/UiPath.Cryptography.Activities/DecryptText.cs
  Activities/Cryptography/UiPath.Cryptography.Activities/EncryptFile.cs
  Activities/Cryptography/UiPath.Cryptography.Activities/EncryptText.cs
  Activities/Cryptography/UiPath.Cryptography.Activities/Properties/UiPath.Cryptography.Activities.Designer.cs
  Activities/Cryptography/UiPath.Cryptography.Activities/Properties/UiPath.Cryptography.Activities.resx
  Activities/Cryptography/UiPath.Cryptography/Properties/UiPath.Cryptography.Designer.cs
  Activities/Cryptography/UiPath.Cryptography/Properties/UiPath.Cryptography.resx
Labels: C:Cryptography

#140 OSAC 156 - fix for database integration tests failing
  Activities/Database/UiPath.Database.Activities.Packaging/UiPath.Database.Activities.Packaging.csproj
Labels: C:Database

#144 OSAC 162 - Database issue: Operation is not supported on this platform.
  Activities/Database/UiPath.Database.Activities/AsyncNativeActivity.cs
  Activities/Database/UiPath.Database.Activities/AsyncTaskCodeActivity.cs
  Activities/Database/UiPath.Database.Activities/BulkInsert.cs
  Activities/Database/UiPath.Database.Activities/BulkUpdate.cs
  Activities/Database/UiPath.Database.Activities/DatabaseConnect.cs
  Activities/Database/UiPath.Database.Activities/DatabaseDisconnect.cs
  Activities/Database/UiPath.Database.Activities/DatabaseTransaction.cs
  Activities/Database/UiPath.Database.Activities/ExecuteNonQuery.cs
  Activities/Database/UiPath.Database.Activities/ExecuteQuery.cs
  Activities/Database/UiPath.Database.Activities/InsertDataTable.cs
Labels: C:Database

#145 OSAC 172 - Python activities freeze at runtime
  Activities/Python/UiPath.Python.Packaging/UiPath.Python.Packaging.csproj
Labels: C:Python

#141 OSAC 161 - changed package reference for net5
  Activities/Credentials/UiPath.Credentials.Packages/UiPath.Credentials.Packages.csproj
Labels: C:Credentials
