Repository UiPath/Community.Activities, pull requests merged in 2021-08, with the labels that each got.

#156 OSAC 193, 194, 213 - Error messages and validation
  Activities/Database/UiPath.Database.Activities/AsyncTaskCodeActivity.cs
  Activities/Database/UiPath.Database.Activities/BulkInsert.cs
  Activities/Database/UiPath.Database.Activities/BulkUpdate.cs
  Activities/Database/UiPath.Database.Activities/ConnectionHelper.cs
  Activities/Database/UiPath.Database.Activities/DatabaseConnect.cs
  Activities/Database/UiPath.Database.Activities/DatabaseTransaction.cs
  Activities/Database/UiPath.Database.Activities/ExecuteNonQuery.cs
  Activities/Database/UiPath.Database.Activities/ExecuteQuery.cs
  Activities/Database/UiPath.Database.Activities/InsertDataTable.cs
  Activities/Database/UiPath.Database.Activities/Properties/UiPath.Database.Activities.Designer.cs
  Activities/Database/UiPath.Database.Activities/Properties/UiPath.Database.Activities.resx
  Activities/Directory.build.targets
Labels: C:Database

#155 OSAC 197 - "Connection Wizard" button in DatabaseConnect activity is not working
  Activities/Database/ConnectionDialog/ConnectionUI/App.config
  Activities/Database/ConnectionDialog/ConnectionUI/Microsoft.Data.ConnectionUI.csproj
  Activities/Database/ConnectionDialog/ConnectionUIDialog/App.config
  Activities/Database/UiPath.Database.Activities.Design/App.config
  Activities/Database/UiPath.Database.Activities.Design/UiPath.Database.Activities.Design.csproj
  Activities/Database/UiPath.Database.Activities.Packaging/UiPath.Database.Activities.Packaging.csproj
  Activities/Database/UiPath.Database.Activities/App.config
  Activities/Database/UiPath.Database.Activities/UiPath.Database.Activities.csproj
  Activities/Database/UiPath.Database/App.config
  Activities/Database/UiPath.Database/UiPath.Database.csproj
Labels: C:Database

#160 OSAC 206 - Some of strings are not localized in Credentials Activities
  Activities/Credentials/UiPath.Credentials.Activities/AddCredential.cs
  Activities/Credentials/UiPath.Credentials.Activities/DesignerMetadata.cs
  Activities/Credentials/UiPath.Credentials.Activities/Properties/UiPath.Credentials.Activities.Designer.cs
  Activities/Credentials/UiPath.Credentials.Activities/Properties/UiPath.Credentials.Activities.resx
  Activities/Credentials/UiPath.Credentials.Packages/UiPath.Credentials.Packages.csproj
Labels: C:Credentials

#161 OSAC-205 - Some of strings are not localized in FTP Activities
  Activities/FTP/UiPath.FTP.Activities.Design/DesignerMetadata.cs
  Activities/FTP/UiPath.FTP.Activities.Design/MoveItemsDesigner.xaml
  Activities/FTP/UiPath.FTP.Activities.Design/Properties/UiPath.FTP.Activities.Design.resx
  Activities/FTP/UiPath.FTP.Activities/Delete.cs
  Activities/FTP/UiPath.FTP.Activities/DirectoryExists.cs
  Activities/FTP/UiPath.FTP.Activities/DownloadFiles.cs
  Activities/FTP/UiPath.FTP.Activities/EnumerateObjects.cs
  Activities/FTP/UiPath.FTP.Activities/FileExists.cs
  Activities/FTP/UiPath.FTP.Activities/Localization.cs
  Activities/FTP/UiPath.FTP.Activities/MoveItem.cs
  Activities/FTP/UiPath.FTP.Activities/Properties/UiPath.FTP.Activities.Designer.cs
  Activities/FTP/UiPath.FTP.Activities/Properties/UiPath.FTP.Activities.resx
  Activities/FTP/UiPath.FTP.Activities/UploadFiles.cs
  Activities/FTP/UiPath.FTP.Activities/WithFtpSession.cs
Labels: C:FTP

#162 OSAC-203 - Some of strings are not localized in Python Scope activity
  Activities/Python/UiPath.Python/Properties/UiPath.Python.Designer.cs
  Activities/Python/UiPath.Python/Properties/UiPath.Python.resx
  Activities/Python/UiPath.Python/Version.cs
Labels: C:Python

#163 OSAC 202 - Some of strings are not localized in Convert Java Object activity
  Activities/Java/UiPath.Java.Activities.Design/DesignerMetadata.cs
  Activities/Java/UiPath.Java.Activities.Design/Properties/UiPath.Java.Activities.Design.Designer.cs
  Activities/Java/UiPath.Java.Activities.Design/Properties/UiPath.Java.Activities.Design.resx
  Activities/Java/UiPath.Java.Activities.Design/UiPath.Java.Activities.Design.csproj
Labels: C:Java

#166 [OSAC-224] Null factory for ODBC connections
  Activities/Database/UiPath.Database.Activities/BulkInsert.cs
  Activities/Database/UiPath.Database.Activities/BulkUpdate.cs
  Activities/Database/UiPath.Database.Activities/DatabaseTransaction.cs
  Activities/Database/UiPath.Database.Activities/ExecuteNonQuery.cs
  Activities/Database/UiPath.Database.Activities/ExecuteQuery.cs
  Activities/Database/UiPath.Database.Activities/InsertDataTable.cs
  Activities/Database/UiPath.Database/DatabaseConnection.cs
Labels: C:Database

#168 OSAC 225 - Run Python Script activity fails on specific script
  Activities/Python/3rdparty/Python.Runtime.33.dll
  Activities/Python/3rdparty/x64/Python.Runtime.33.dll
  Activities/Python/UiPath.Python.Packaging/UiPath.Python.Packaging.csproj
  Activities/Python/UiPath.Python.Tests/Runtimes.cs
  Activities/Python/UiPath.Python/Impl/Engine.cs
  Activities/Python/UiPath.Python/Version.cs
Labels: C:Python
